<li style="align-items: left;">
  <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
  <div class="title" style="display: flex; flex-direction: column; align-items: left; border-left: 1px solid #ccc; margin-bottom: 1em; padding-left: 1em;">
    <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    <p style="padding:0px; margin: 0px;">
      {{ with .GetTerms "tags" }}
        {{ range $index, $tag := . }}
          {{ if $index }}, {{ end }}<a href="{{ $tag.Page.RelPermalink }}">#{{ $tag.Name }}</a>
        {{ end }}
      {{ end }}
    </p>
  </div>
</li>
